// resources/sass/_variables.scss

$body-bg: #ffffff; // Arka plan rengi
$font-family-sans-serif: 'Nunito', sans-serif; // Yazı tipi ailesi
$font-size-base: 1rem; // Yazı tipi boyutu
$line-height-base: 1.5; // Satır yüksekliği
$text-yellow-500: #f6e05e;

$alert-danger-bg: #f2dede;
$alert-danger-border: #ebccd1;
$alert-danger-text: #a94442;

$alert-success-bg: #dff0d8;
$alert-success-border: #d6e9c6;
$alert-success-text: #3c763d;

$text-blue-600: #2563eb;
$text-red-600: #e11d48;
